* {
  box-sizing: border-box;
}

body {
  background-color: #0076b6;

  padding: 1ch;
  margin-left: 25px;
  margin-right: 25px;
  min-width: 550px;
  text-align: center;
  border: 4px solid white;
  border-radius: 15px;
  padding: 1ch;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  box-shadow: -3px 15px 10px black;
}

#myPhoto {
  border-radius: 500px;
}

#hotelFront,
#hotelRoom,
#hotelSwimmingPool {
  cursor: pointer;
  border-radius: 250px;
}

#hotelFront:hover {
  opacity: 1;
  transition: all 0.3s;
  -webkit-transition: all 0.3s;
  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -o-transform: scale(1.2);
  transform: scale(1.2);
  transition: all 0.3s;
  -webkit-transition: all 0.3s;
  box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 5px;
}

#hotelRoom:hover {
  opacity: 1;
  transition: all 0.3s;
  -webkit-transition: all 0.3s;
  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -o-transform: scale(1.2);
  transform: scale(1.2);
  transition: all 0.3s;
  -webkit-transition: all 0.3s;
  box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 5px;
}

#hotelSwimmingPool:hover {
  opacity: 1;
  transition: all 0.3s;
  -webkit-transition: all 0.3s;
  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -o-transform: scale(1.2);
  transform: scale(1.2);
  transition: all 0.3s;
  -webkit-transition: all 0.3s;
  box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 5px;
}

#time {
  font-family: "Helvetica";
  color: rgba(255, 255, 255, 0.808);
}

#time:hover {
  opacity: 1;
  transition: all 0.3s;
  -webkit-transition: all 0.3s;
  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -o-transform: scale(1.2);
  transform: scale(1.2);
  transition: all 0.3s;
  -webkit-transition: all 0.3s;
  text-shadow: black 0.1em 0.1em 0.2em;
}

h1 {
  color: rgba(255, 255, 255, 0.808);
  font-family: "Helvetica";
  text-shadow: black 0.1em 0.1em 0.2em;
}

h2 {
  color: rgba(255, 255, 255, 0.808);
  font-family: Georgia, "Times New Roman", Times, serif;
  text-shadow: black 0.1em 0.1em 0.2em;
}

i {
  color: rgba(255, 255, 255, 0.808);
}

p {
  color: rgba(255, 255, 255, 0.808);
  font-family: "Helvetica";
  margin-bottom: 50px;
  padding: 3ch;
  text-align: justify;
  border: 2px solid white;
  border-radius: 15px;
  box-shadow: 3px 6px 6px black;
}

a {
  display: block;
  color: white;
  text-decoration: none;
  font-size: 15px;
  line-height: 40px;
  font-family: "Lucida Sans Unicode", Verdana, sans-serif;
  padding: 11px;
}

a:hover {
  color: #0076b6;
  background-color: white;
  box-shadow: -3px 15px 10px rgba(0, 0, 0, 0.5);
  transition: 0.3s; /* Add transition on hover */
}
